* {
    margin: 0;
  }
.img{
    height:25px;
}

.container{
    display: grid;
    grid-template-columns: .5fr 2fr 1fr; /* usage of  1% */
    grid-template-rows: 50px 80px 200px 100px 100px 100px 100px;
}

.dashboard{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    display: grid;
    background-color: green;
    grid-template-columns: .1fr .1fr 5fr;
    column-gap: 10px;
    align-items: center;
   
    
  }
.dashIMG{
    height:40px;
    grid-column-start: 2;
    grid-column-end: 3;
}
.dashTEXT{
    grid-column-start: 3;
    grid-column-end: 4;
}

.navbar1{
    background-color: grey;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    display:grid;
    grid-template-columns: 1fr 10fr 1fr 1fr 1fr;
    align-items: center;
    
}
#search{
    border-radius: 10px;
    background-color: rgb(230, 230, 230);
    border: none;
    padding: 8px;
    max-width: 700px;
    min-width:500px;
}
.profileImg{
    clip-path: circle();
    height:50px;
}

.menuTop{
    background-color: lightblue;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 4;
    display:grid;
    grid-template-columns: 1fr;
    align-items: center;
   
    
}
.dashboardAccesors{

    display:grid;
    grid-template-columns: .1fr .1fr 5fr;
    column-gap: 10px;
    align-items: center;
    margin-left: 10px;
}
.menuBottom{
    background-color: red;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 8;
    display:grid;
    grid-template-columns: 1fr;

}
.navbar2{
    background-color: blue;
    grid-column-start: 2;
    grid-column-end: 4;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr 1fr 1fr;
    align-items: center;
    grid-row-start: 2;
    grid-row-end: 3;
}

.projects{
    background-color: lightgrey;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 7;
    display: grid;
    grid-template-columns: 5fr 1fr;
    grid-template-rows: 25px 250px 25px 300px;
    
}
.header{
    grid-row-start: 1;
    grid-row-end: 2;
}
.announcementsHeader{
    grid-row-start: 1;
    grid-row-end: 2;
}
.trendingHeader{
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 3;
}
.itemsContainer{
    grid-column-start: 1;
    grid-column-end: 2;
}
.announcements{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start:2;
    grid-row-end:3;
}
.trending{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start:4;
    grid-row-end:5;
}

.itemsContainer{
    display: grid;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start:2;
    grid-row-end:5;
    grid-template-columns: 1fr 1fr;
    
}

.aTitle{
    font-weight: bold;
}
.headerText{
    font-weight: bold;
    font-size: 20px;
}